@import "../../variables";

.text-section {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 2em;

  h2 {
    font-size: 150%;
    font-weight: bold;
  }

  .content {
    margin-top: 1em;
  }

  b {
    font-weight: bold;
  }

  @media screen and (max-width: $content-breakpoint) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
