.overview-section {
  align-items: center;
  background: linear-gradient(to right, #fba8e0, #0821da);
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  padding-top: 4em;

  .section-title {
    font-size: 300%;
    margin-bottom: 3rem;
  }

  .text {
    margin-top: 2em;
    text-align: center;

    a {
      color: #232e6c;
    }
  }
}
