@import "../../variables";

$highlight-color: #fba8e0;

.question-answer-section {
  align-items: center;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  padding-top: 3em;

  .question-answer-element {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    width: 800px;

    .number {
      color: $highlight-color;
      font-size: 130%;
      margin-right: 2rem;
    }

    .content {
      display: flex;
      flex-direction: column;

      .question {
        color: $highlight-color;
      }

      .answer {
        color: white;
        margin-top: 1em;
      }
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    align-items: flex-start;

    .question-answer-element {
      width: unset;
    }
  }
}
