@import "../../variables";

.member-grid-section {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 8vw;
    padding-right: 8vw;


    .section-title {
        font-size: 150%;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1em;

        .member {
            margin-top: 1em;

            img {
                width: 180px;
                height: 180px;
            }

            h3, h4 {
                color: blue;
            }
            
            h3 {
                font-size: 90%;
            }

            h4 {
                font-size: 80%;
            }
        }
    }

    @media only screen and (max-width: $content-breakpoint) {
        .content {
            justify-content: space-between;

            .member {
                img {
                    width: 37vw;
                    height: 37vw;
                }
            }
        }
    }
}