@import "../../variables";

.member-grid-section {
  padding-bottom: 2em;
  padding-top: 2em;

  .section-title {
    font-size: 150%;
  }

  .content {
    column-gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .member {
      margin-top: 1em;
      width: 180px;

      img {
        height: 180px;
        width: 180px;
      }

      h3,
      h4 {
        color: blue;
      }

      h3 {
        font-size: 90%;
      }

      h4 {
        font-size: 80%;
      }

      .social-media-row {
        display: flex;
        flex-direction: row;
        gap: 3%;
        margin-top: 0.3em;

        svg {
          height: 1.2em;
          width: 1.2em;
        }
      }
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    padding-left: 1em;
    padding-right: 1em;

    .content {
      justify-content: space-between;

      .member {
        width: 42vw;

        img {
          height: 42vw;
          width: 42vw;
        }
      }
    }
  }
}
