@import "../../variables";

.find-courses {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: calc(100vh - 3em);
  overflow: hidden;
  padding-top: 4em;

  .content {
    color: white;
    margin-top: 3em;
    min-width: 400px;
    width: 45vw;
    z-index: 10;

    .section-title {
      font-size: 400%;
    }

    p {
      font-size: 120%;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5em;
    }
  }

  .GirlsImageOnCirlce {
    align-self: flex-end;
    height: 40vw;
    min-height: 400px;
    min-width: 400px;
    overflow: hidden;
    position: relative;
    transition: min-width 70ms, min-height 70ms;
    width: 40vw;
    z-index: 9;

    .gradient-circle-home {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .GirlsImage {
      left: 0;
      position: absolute;
      top: 15%;
      width: 100%;
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 1em;

    .content {
      margin-bottom: 2em;
      margin-top: 0;
      min-width: unset;
      width: 80vw;

      .section-title {
        font-size: 270%;
      }
    }

    .GirlsImageOnCirlce {
      align-self: unset;
      height: 90vw;
      overflow: hidden;
      position: relative;
      width: 90vw;
    }
  }
}
