@import "../../variables.scss";

.find-courses {
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $blue;
    overflow: hidden;
    min-height: calc(100vh - 3em);

    .content {
        margin-top: 3em;
        color: white;
        width: 40vw;
        min-width: 400px;
        z-index: 10;

        .section-title {
            font-size: 500%;
        }

        p {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            font-size: 120%;
        }
    }

    .GirlsImageOnCirlce {
        position: relative;
        width: 45vw;
        height: 45vw;
        min-width: 400px;
        min-height: 400px;
        overflow: hidden;
        z-index: 9;
        align-self: flex-end;

        transition: min-width 70ms, min-height 70ms;
        
        .gradient-circle-home {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
        }

        .GirlsImage {
            position: absolute;
            top: 15%;
            left: 0;
            width: 100%;
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        .content {
            margin-top: 2em;
            width: 40vw;
            min-width: 300px;

            .section-title {
                font-size: 350%;
            }
        }

        .GirlsImageOnCirlce {
            min-width: 55vw;
            min-height: 55vw;
        }
    }

    @media only screen and (max-width: $content-breakpoint) {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 1em;

        .content {
            margin-top: 0;
            margin-bottom: 2em;
            min-width: unset;
            width: 80vw;
    
            .section-title {
                font-size: 250%;
            }
        }

        .GirlsImageOnCirlce {
            position: relative;
            width: 90vw;
            height: 90vw;
            overflow: hidden;
            align-self: unset;
        }
    }
}