@import "../../variables";

.why-starcode {
  background-color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  padding-top: 2em;
  position: relative;

  .content {
    padding: 2em;
    width: 400px;

    .section-title {
      font-size: 250%;
    }

    p {
      font-size: 120%;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
      text-align: justify;
    }
  }

  .GirlsImage {
    display: block;
    object-fit: scale-down;
    width: 600px;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    .GirlsImage {
      bottom: 0;
      position: absolute;
      right: -5vw;
      width: 50vw;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    align-items: center;
    flex-direction: column;

    .content {
      width: 80vw;
    }

    .GirlsImage {
      position: relative;
      right: 0;
      width: 80vw;
    }
  }
}
