@import "../../variables";

.contact-overview-section {
  align-items: center;
  background: linear-gradient(to right, #d5a4c6, #f658c3);
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  padding-top: 3em;

  .content {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90vw;
    width: 1000px;

    .text {
      .section-title {
        font-size: 200%;
      }

      .table {
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        .table-row {
          display: flex;
          flex-direction: row;
          margin-bottom: 2em;
        }

        .key {
          font-weight: bold;
          width: 100px;
        }
      }
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .content {
      flex-direction: column;

      .image {
        margin-top: 2em;

        svg {
          height: auto;
          max-width: 300px;
          width: 50vw;
        }
      }
    }
  }
}
