@import "../../variables";

.donate-section {
  min-height: 750px;
  overflow: hidden;
  padding-bottom: 2em;
  padding-top: 2em;

  a {
    text-decoration: underline;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;

    .circle {
      height: 700px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      text-align: center;
      width: 700px;
      z-index: 1;
    }

    .girls-image {
      height: auto;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 90vw;
      position: absolute;
      right: 0;
      text-align: center;
      top: 100px;
      width: 500px;
      z-index: 2;
    }

    a {
      z-index: 3;

      .button {
        background-color: $blue;
        color: white;
        font-size: 160%;
        margin-top: 400px;
        z-index: 3;
      }
    }

    .card {
      background-color: white;
      border-radius: 3px;
      box-shadow: 5px 5px 20px grey;
      margin-top: 120px;
      max-width: calc(90vw - 4em);
      padding: 2em;
      width: 600px;
      z-index: 3;

      a {
        color: black;
      }
    }
  }
}
