@import "../variables";

.button {
  background-color: $light-grey;
  border-radius: 0.9em;
  color: $blue;
  cursor: pointer;
  display: inline-block;
  font-size: 120%;
  padding: 0.5em 1em;

  &:hover {
    font-weight: bold;
  }
}
