@import "../variables.scss";

.button {
    font-size: 120%;
    padding: 0.5em 1em;
    border-radius: 0.9em;
    display: inline-block;
    cursor: pointer;
    background-color: $light-grey;
    color: $blue;

    &:hover {
       font-weight: bold;
    }
}