.event {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-family: "Video Cond", monospace;
  margin-bottom: 1em;
  max-width: 80vw;
  padding: 0.3em;
  width: 450px;

  .event-date {
    font-size: 300%;
  }

  .event-text {
    display: flex;
    flex-direction: column;
    margin-left: 1em;

    .event-location {
      font-size: 150%;
    }
  }
}
