@import "../variables";

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3em 0;

  .newsletter-button {
    margin: 1.5em 0;
  }

  .social-media {
    margin-bottom: 2em;

    svg {
      margin: 0 0.5em;
    }
  }

  .footer-menu {
    a {
      margin: 0 2em;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .footer-menu {
      a {
        margin: 0 0.5em;
      }
    }
  }
}
