@import '../variables';

.gender-explanation {
    padding: 0.5em 0.5em;
    margin: 2em auto;
    font-size: 90%;
    text-align: justify;
    border: 1px solid black;

    width: 60%;

    @media screen and (max-width: $content-breakpoint) {
        width: calc(100vw - 2em);
    }
}