@import "../variables";

.gender-explanation {
  border: 1px solid black;
  font-size: 90%;
  margin: 2em auto;
  padding: 0.5em;
  text-align: justify;
  width: 60%;

  @media screen and (max-width: $content-breakpoint) {
    width: calc(100vw - 2em);
  }
}
