@import "../variables.scss";

.header {
    position: sticky;   
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 4em 1em 2em;
    background-color: $header-background-color;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Futura Medium';

    .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        
        li {
            margin-left: 4em;

            a {
                color: white;
                text-decoration: none;
                font-size: 110%;
            }
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        align-items: center;
        padding: 1em 1em 0 1em;

        .first-row-mobile {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 1em;
        }

        .menu-icon {
            display: block;
        }
        
        .menu {
            display: none;
            width: 100vw;
            background-color: white;

            li {
                margin-left: 1em;
                padding: 0.4em 0;

                a {
                    font-size: 200%;
                    color: black;
                }
            }

            &.open {
                display: block;
            }
        }
    }
}