@import "../../variables";

.course-list-section {
  background-color: $dark-blue;
  min-height: 550px;
  padding: 2em;
  position: relative;

  .course {
    margin-bottom: 1em;
    z-index: 10;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .girl-image {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 30vw;
  }

  @media only screen and (max-width: $content-breakpoint) {
    padding: 2em 0.5em;
  }
}
