@import "../../variables";

.fastest-growing-industry-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;

    padding: 0;

    .arrow-image {
        width: 40vw;
    }

    .text-on-graph {
        width: 45vw;
        height: 45vw;

        position: relative;

        .circle {
            position: absolute;
            width: 40vw;
            height: 40vw;
            background-color: #F7D78D;
            border-radius: 50%;
        }

        .graph-image {
            position: absolute;
            width: 45vw;
            height: auto;
            top: -5vw;
        }

        .text {
            top: 15vw;
            left: -2vw;
            position: absolute;
            color: white;
            font-weight: bold;
            font-size: 2.6vw;
            line-height: 1.3;
        }
    }

    @media only screen and (max-width: $content-breakpoint) {
        .arrow-image {
            display: none;
        }

        .text-on-graph {
            margin: 0 auto;
            width: 90vw;
            height: 90vw;

            .circle {
                width: 85vw;
                height: 85vw;
            }

            .graph-image {
                width: 90vw;
                height: auto;
                top: -5vw;
            }

            .text {
                top: 32vw;
                font-size: 5vw;
            }
        }
    }
}