@import "../../variables";

.fastest-growing-industry-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0;

  .arrow-image {
    width: 40vw;
  }

  .text-on-graph {
    height: 45vw;
    position: relative;
    width: 45vw;

    .circle {
      background-color: #f7d78d;
      border-radius: 50%;
      height: 40vw;
      position: absolute;
      width: 40vw;
    }

    .graph-image {
      height: auto;
      position: absolute;
      top: -5vw;
      width: 45vw;
    }

    .text {
      color: white;
      font-size: 2.6vw;
      font-weight: bold;
      left: -2vw;
      line-height: 1.3;
      position: absolute;
      top: 15vw;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .arrow-image {
      display: none;
    }

    .text-on-graph {
      height: 90vw;
      margin: 0 auto;
      width: 90vw;

      .circle {
        height: 85vw;
        width: 85vw;
      }

      .graph-image {
        height: auto;
        top: -5vw;
        width: 90vw;
      }

      .text {
        font-size: 5vw;
        top: 32vw;
      }
    }
  }
}
