@import '../../variables';

.lets-change-together-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;

    .section-title {
        color: white;
        font-size: 500%;

        margin-top: 9rem;
    }

    .arrow-container {
        margin-bottom: 4rem;

        .arrow-icon {
            cursor: pointer;
        }
    }

    @media screen and (max-width: $content-breakpoint) {
        .section-title {
            margin-top: 4rem;
            font-size: 350%;
        }
    }
}