@import "../../variables";

.our-goal-section {
  overflow: hidden;
  padding-bottom: 6em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15em;

  .content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .star-and-hand {
      height: 230px;
      min-width: 350px;
      position: relative;
      width: 350px;

      .circle {
        display: block;
        height: 700px;
        position: absolute;
        right: 0;
        top: -200px;
        width: 700px;
      }

      .star-image {
        position: absolute;
        right: 25%;
        top: 0;
        width: 30%;
        z-index: 2;
      }

      .hand-image {
        bottom: 0;
        position: absolute;
        width: 80%;
        z-index: 2;
      }
    }

    .text {
      color: white;
      font-size: 130%;
      font-weight: bold;
      line-height: 1.2;
      margin-left: 2em;
      width: 260px;
      z-index: 2;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .content {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .star-and-hand {
        .circle {
          height: 1000px;
          right: -100px;
          width: 1000px;
        }
      }

      .text {
        margin-left: 0;
        margin-top: 2em;
        max-width: 90vw;
        width: 500px;
      }
    }
  }
}
