@import "../../variables";

.wage-gap-section {
  margin-top: 6em;
  padding: 0;

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;

    .graphic {
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      width: 100%;

      .seventyfive-percent-image {
        width: 10%;
      }

      .woman-man-image {
        width: 70%;
      }

      .hundred-percent-image {
        width: 20%;
      }
    }

    .text {
      color: white;
      font-size: 130%;
      font-weight: bold;
      line-height: 1.2;
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .content {
      max-width: 500px;
      width: 90vw;
    }
  }
}
