@import "../../variables";

.wage-comparison-section {
  margin-top: 5em;

  .content {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      color: white;
      font-size: 130%;
      font-weight: bold;
      line-height: 1.2;
      width: 220px;
    }

    .circle {
      height: 500px;
      width: 500px;
    }
  }

  @media only screen and (max-width: $content-breakpoint) {
    .content {
      align-items: center;
      flex-direction: column-reverse;

      .circle {
        height: 90vw;
        width: 90vw;
      }

      .text {
        margin-top: 1em;
        max-width: 90vw;
      }
    }
  }
}
