@import "../../variables";

.women-proportion-section {
  .text-image-group {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 15vw;
    text-align: center;
    width: 300px;

    .percent-image {
      width: 100%;
    }
  }

  @media screen and (max-width: $content-breakpoint) {
    margin-top: 3em;

    .text-image-group {
      margin: 0 auto;
      max-width: 90vw;
    }
  }
}
